{
	"$schema": "https://json.schemastore.org/swcrc",
	"module": { "type": "nodenext" },
	"isModule": true,
	"jsc": { "parser": { "syntax": "typescript" } },
	"env": {
		"targets": { "node": "14" },
		"mode": "entry",
		"coreJs": "3"
	}
}
